<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mil">

    <application
        android:allowBackup="true"
        android:icon="@drawable/military"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.store.StoreActivity" />
        <activity android:name=".view.auth.SignInActivity" />
        <activity android:name=".view.auth.SignupActivity" />
        <activity android:name=".view.todo.TodoActivity" />
        <activity android:name=".view.troop.TroopActivity" />
        <activity android:name=".view.community.CommunityActivity" />
        <activity android:name=".MenuSelectActivity" />
        <activity android:name=".view.store.DeleteProductActivity" />
        <activity android:name=".view.book.BookActivity" />

        <!-- <service -->
        <!-- android:name=".fcm.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <service -->
        <!-- android:name=".fcm.MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <activity android:name=".view.community.UploadActivity" />
    </application>

</manifest>